<body>
<div class="container-login100-donate raw">
    Email,Name,Membership
    </br>
    <% @users.each do |u| %>
        <%= "#{u.email},#{u.name},#{u.membership}" %>
        </br>
    <% end %>
    </div>
    </body>