<head>
    <%= stylesheet_link_tag 'application' %>
</head>
<body>
    <div class='container-unauth'>
        <span class="err-title p-b-1">It seems you should not be playing this cassette...</span>
        <span class='err-2nd-title p-b-1' style="color: black;">401 Unauthorized</span>
        <span class='txt-faint'>Photo by Daniel Schludi on Unsplash</span>
    </div>
</body>
<!--Photo by Daniel Schludi on Unsplash--->