<head>
    <%= stylesheet_link_tag 'application' %>
</head>
<body>
    <div class='container-ds'>
        <span class="err-title p-b-1">There seems to be something out of tune...</span>
        <span class='err-2nd-title p-b-1'>500 Internal Server Error</span>
        <span class='txt-faint'>Photo by Adrian Swancar on Unsplash</span>
    </div>
</body>
 <!---Photo by Adrian Swancar on Unsplash-->