/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 */

 .navbar.navbar-expand-lg {
    /*color: rgb(126,59,150);*/
    background-color: rgb(126,59,150);
 }

 p.notice, p.alert {
     color: rgb(255, 255, 255);
     margin: 0px;
     background-color: rgb(35, 145, 163);
     text-align: center;
     border-radius: 0px;
     font-size: 30px;
     font-family: "Lato", sans-serif;
 }

 .navbar.navbar-expand-lg.navbar-light a.navbar-brand:hover img {
     background-color: rgb(35, 145, 163);
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-toggler {
     color: rgb(255, 255, 255);
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-nav li .nav-link{
     color: rgb(255, 255, 255);
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-nav li:hover .nav-link {
    color: rgb(35, 145, 163);
}

 img {
    max-width: 100%;
    width: 150px;
    height: auto;
    vertical-align: middle;
    border: 0;
 }

 .btn.btn-info.btn-lg {
     color: rgb(255, 255, 255);
     outline-color: rgb(255, 0, 0);
     background-color: rgb(255, 0, 0);
 }

 .table.table-striped.table-hover.table-bordered{
     width:75%;
     text-align: center;
     vertical-align: middle;
     margin: auto;
 }

 .table.table.table-striped.table-hover.table-bordered, th, tr{
    text-align:center;
    vertical-align: middle;
}

 .table.table-striped{
     margin:auto;
 }

 .center{
     margin-top: 50px;
     display: inline-block;
 }

 .wrapper{
     text-align: center;
 }

 .jumbotron{
     height:200px;
     background-image: url("jazz_slider.jpg");
     background-size: cover;
     color:white;
     background-position: center;
     text-align:center;
 }

 .table.form-table{
    width:50%;
    margin:auto;
    background-color:#d3d3cc;
    text-align: center;
 }

 .form-group{
     align-content: left;
 }

 .table-header{
     background-color: rgb(126,59,150);
     color:white;
     text-align:center;
     vertical-align: auto;
 }

 .table-body{
     text-align:center;
     vertical-align: auto;
 }

 .table-header-link{
    color:white;
 }

 .btn.btn-primary{
     background-color:rgb(126,59,150);
     border-color:rgb(126,59,150);
     color: white;
     margin-top:20px;
     margin-bottom:5px;
 }

 .btn.btn-primary:hover{
    color:rgb(126,59,150);;
    background-color: white;
    border-color: rgb(126,59,150);
 }

 .btn.btn-primary.btn-delete{
     background-color: #d11a2a;
     border-color: #d11a2a;
 }

 .btn.btn-primary.btn-delete:hover{
    background-color: white;
    border-color: #d11a2a;
    color:#d11a2a
}

 .object-center{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
 }

.title-container{
    margin-bottom: 40px;
    text-align: center;
    color:black;
}

.btn.btn-default{
    border-color:rgb(126,59,150);
}

.btn.btn-default:hover{
    background-color:rgb(126,59,150);
    border-color:white;
    color:white;
}

.container{
  justify-content: center;
  align-items: center;
}