/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 *= require font-awesome
 *
 */

 .navbar.navbar-expand-lg {
    /*color: rgb(126,59,150);*/
    background-color: rgb(126,59,150);
 }

 p.notice, p.alert {
     color: rgb(255, 255, 255);
     margin: 0px;
     background-color: rgb(35, 145, 163);
     text-align: center;
     border-radius: 0px;
     font-size: 30px;
     font-family: "Lato", sans-serif;
 }

 .navbar.navbar-expand-lg.navbar-light a.navbar-brand:hover img {
     background-color: var(--bvjs-blue);
     transition: all .4s ease;
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-toggler {
     color: rgb(255, 255, 255);
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-nav li .nav-link{
     color: rgb(255, 255, 255);
 }

 .navbar.navbar-expand-lg.navbar-light .navbar-nav li:hover .nav-link {
    color: var(--bvjs-blue);
}

 img {
    max-width: 100%;
    width: 150px;
    height: auto;
    vertical-align: middle;
    border: 0;
 }

 .btn {
     outline-color: var(--bvjs-blue);
 }
 
 .btn.btn-primary {
     color: rgb(255, 255, 255);
     outline-color: var(--bvjs-blue);
     background-color: var(--bvjs-blue);
     border-color: var(--bvjs-blue);
 }

 .btn.btn-primary.my-red {
     color: rgb(255, 255, 255);
     background-color: rgb(255, 0, 0);
     border-color: rgb(255, 0, 0);
 }

 .btn.btn-primary.my-red:hover {
    color: rgb(255, 0, 0);
    background-color: #fff;
    border-color: rgb(255, 0, 0);
 }

 .btn.btn-primary:hover {
     background-color: var(--bvjs-orange);
     border-color: var(--bvjs-blue);
 }

 .btn.btn-primary:disabled {
     background-color: var(--bvjs-blue);
     border-color: var(--bvjs-blue);
 }

 .btn.btn-info.btn-lg {
     color: rgb(255, 255, 255);
     outline-color: rgb(255, 0, 0);
     background-color: rgb(255, 0, 0);
 }

 table, th, td {
    border: 0.5px solid black;
    width: auto;
    table-layout: fixed;
    text-align: center;
    font-size: auto;
    /* color: #fff; */
    background-color: #fff;
    word-wrap: break-word;
 }

 table.table.table-striped thead.thead-dark tr th {
    background-color: var(--bvjs-blue);
  }

 table.button-table, table.button-table td {
    border-collapse: separate;
    border: none;
    border-spacing: 10px;
    text-align: left;
    background: transparent;
 }

 .sortable {
    font-size: auto;
    color: rgb(255, 255, 255);
 }
 .sortable:hover {
    font-size: auto;
    color: rgb(255, 255, 255);
    text-decoration: underline;
 }

 .current.asc, .current.desc {
    font-size: auto;
    color: rgb(255, 255, 255);
    text-decoration: underline;
 }

 .footer {
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     height: auto;
     background-color: var(--bvjs-orange);
     text-align: center;
 }
 .footer img {
    max-width:960px;
    margin:0 auto;
    padding:20px;
 }

 .footer p {
     color: white;
     text-transform: uppercase;
     margin: 0 auto;
 }

 .footer .social-media {
    margin: 0 auto;
    padding: 20px;
 }

 .footer .social-media a {
     color: rgba(255,255,255,0.25);
     margin: 0 1%;
     font-size: 18px;
 }

 .footer .social-media a:hover {
    color: white;
    text-decoration: none;
}