<div class="jumbotron">
    <h1>Donations Receipt</h1>
</div>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    <% @donations.each do |d| %>
        <tr>
            <td><%= d.created_at %></td>
            <td><%= d.price %></td>
        </tr>
    <% end %>
</table>

<b>TOTAL: <%= "$#{'%.2f' % total}" %></b>